<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="build.badge" version="1">
    <about>
        <name>Build Badge Notification Plugin</name>
        <version>0.0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Plugin to send build notifications to a build badge server</description>
        <vendor>
            <name>Ashwanth Kumar</name>
            <url>https://github.com/ashwanthkumar/gocd-build-badge-notifier</url>
        </vendor>
    </about>
</go-plugin>